name: Publish to Registry (Foxy)
on:
  push:
    branches:
      - main
      - master
    paths:
      - "foxy/**"
      - ".github/workflows/deploy-foxy.yaml"
  workflow_dispatch:

env:
  DOCKER_USERNAME: tiryoh
  DOCKER_IMAGENAME: ros2
  GIT_CONFIG_USER: Tiryoh@GitHubActions
  GIT_CONFIG_EMAIL: tiryoh@gmail.com

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: true
      - uses: Tiryoh/docker-ros2-desktop-vnc/.github/actions/deploy@master
        with:
          ros-distro: foxy
          latest: false
          gha-job-name: build-and-deploy
          dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
